.personDetails {
    display: flex;
}

.personDetails > div{
    margin: 10px 20px;
}

.personDetails h1{
    margin: 0 0 10px;
}

.frame{
    border: 6px solid;
    padding: 40px 20px;
    border-radius: 15px;
    height: fit-content;
    text-align: center;
}

.frame > *{
    margin: auto;
    display: block;
}

table{
    font-size: 16px;
    max-width: 300px;
}

tr > td:first-of-type{
    width: 100px;
}

table td{
    padding: 3px 20px 3px 0;
}



/* media queries */
/* --------------------------------------------------------------------- */

@media screen and (max-width: 600px) {

    .personDetails {
        display: block;
    }
}