.personDetails {
    display: flex;
    align-items: center;
}

.personDetails > div{
    margin: 10px 20px;
}

.personDetails h1{
    margin: 0 0 10px;
}

.frame{
    /* border: 6px solid; */
    background-color: #201b1b;
    padding: 40px 20px;
    /* border-radius: 15px; */
    height: fit-content;
    text-align: center;
    min-width: 250px;
    box-shadow: 5px 5px #201b1b, 10px 10px #302b2b, 15px 15px #413c3c;
}

.frame > *{
    margin: auto;
    display: block;
}

table{
    font-size: 16px;
    /* max-width: 700px; */
    border-collapse: collapse;
}

tr{
    background-color: #201b1b;
}

tbody > tr > td{
    border-bottom: 2px solid #110b0b;
    padding: 10px 20px;
}

tr > td:first-of-type{
    width: 100px;
}

tr > td:last-of-type{
    overflow: hidden;
    text-overflow: ellipsis; 
}

table td{
    padding: 3px 20px 3px 0;
}

.btnWrap > div{
    margin: 30px auto;
    text-align: center;
    width: fit-content;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #686925;
    color: #959725;
    font-weight: 800;
}

.btnHover:hover{
    background-color: #EBCF23;
    color: #2d2f30;
    cursor: pointer;
    outline: none;
    border: 2px solid #EBCF23
}



/* media queries */
/* --------------------------------------------------------------------- */

@media screen and (max-width: 600px) {

    .personDetails {
        display: block;
    }
}