.app {
    min-height: 100vh;
    background: #110b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app > div{
    min-height: 500px;
    margin: 20px 5px;
}


.spinner{
    animation: spin 1s linear infinite;
}

.color-yellow{
    color: #EBCF23;
}

.bg-yellow{
    background-color: #EBCF23;
}

.border-color-yellow{
    border-color: #EBCF23;
}

.bg-brown-gray{
    background-color: #2d2f30;
}

.color-whitish{
    color: #f2f2f2;
}

.color-light-gray{
    color: #f2f2f283;
}

.bg-blackish{
    background: #110b0b;
}

/* animations */
/* ------------------------------------------------------------------------- */

@keyframes spin {
  to { transform: rotate(360deg); }
}