.app {
    min-height: 100vh;
    background: #110b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app > div{
    min-height: 400px;
}


.spinner{
    animation: spin 1s linear infinite;
}

.color-yellow{
    color: #EBCF23;
}

.bg-yellow{
    background-color: #EBCF23;
}

/* animations */
/* ------------------------------------------------------------------------- */

@keyframes spin {
  to { transform: rotate(360deg); }
}